/* Theme */

html:has(.toggle__checkbox:checked) {
  --clr-background: var(--clr-black);
  --clr-text: var(--clr-white);
  --clr-box-img: var(--clr-green);
  --clr-link-bg: var(--clr-green);
  --clr-placeholder: var(--clr-green);
  --clr-input-border: var(--clr-white);
  --clr-gray: #121212;
}

/* End Theme */